<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LSLForge Editor"
            icon="icons/obj16/lslforge.gif"
            extensions="lsl,lslp,lslm"
            contributorClass="lslforge.editor.LSLForgeActionContributor"
            class="lslforge.editor.LSLForgeEditor"
            id="lslforge.editor.LSLForgeEditor">
      </editor>
      <editor
            class="lslforge.editor.TestEditor"
            extensions="lslt"
            icon="icons/obj16/lslforge-test.gif"
            id="lslforge.editor.LSLTestEditor"
            name="LSLForge Test Editor">
      </editor>
      <editor
            class="lslforge.editor.SimEditor"
            extensions="simp"
            icon="icons/obj16/lslforge-sim.gif"
            id="lslforge.editor.SimEditor"
            name="LSLForge Sim Editor">
      </editor>
   </extension>
   
   <extension
         id="LSLForgeSetupParticipantName"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="lsl,lslp,lslm"
            class="lslforge.editor.LSLForgeDocumentSetupParticipant">
      </participant>
   </extension>
   
<!-- =========================================================================== -->
<!-- Template Editor Example                                                     -->
<!-- =========================================================================== -->



   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="lslforge.launching.LaunchLSLTestShortcut"
            description="Launches a LSLForge Test"
            icon="icons/lslforgetestrun.gif"
            id="lslforge.LaunchLSLTest"
            label="Launch LSL Test"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="lslforge.lsltest.LSLTestSuite">
                     </adapt>
                  </iterate>
               </with></enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="lslforge.launching.LaunchLSLSimShortcut"
            icon="icons/launchlslforge.gif"
            id="lslforge.LaunchLSLSim"
            label="Launch In LSL Sim"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <adapt
                                 type="lslforge.LSLForgeScript">
                           </adapt>
                           <adapt
                                 type="lslforge.sim.SimProject$WorldNode">
                           </adapt>
                        </or>
                     </iterate>
                  </with>
                  <instanceof
                        value="lslforge.editor.LSLForgeEditor">
                  </instanceof>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="lslforge.ResourceAdapterFactory">
         <adapter
               type="lslforge.LSLForgeElement">
         </adapter>
         <adapter
               type="lslforge.LSLDerivedScript">
         </adapter>
         <adapter
               type="lslforge.lsltest.LSLTestSuite">
         </adapter>
         <adapter
               type="lslforge.LSLForgeScript">
         </adapter>
         <adapter
               type="lslforge.sim.SimProject$WorldNode">
         </adapter>
      </factory>
      <factory
            adaptableType="lslforge.LSLForgeElement"
            class="lslforge.LSLForgeAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="lslforge.LSLForgeScript">
         </adapter>
      </factory>
      <factory
            adaptableType="lslforge.LSLDerivedScript"
            class="lslforge.LSLDerivedScriptAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslforge.lsltest.LSLTestSuite"
            class="lslforge.lsltest.LSLTestSuiteAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslforge.LSLForgeScript"
            class="lslforge.LSLForgeAdapterFactory">
         <adapter
               type="lslforge.LSLForgeElement">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslforge.sim.SimProject$WorldNode"
            class="lslforge.sim.SimProjectAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.part.FileEditorInput"
            class="lslforge.LSLForgeAdapterFactory">
         <adapter
               type="lslforge.LSLForgeScript">
         </adapter>
         <adapter
               type="lslforge.LSLDerivedScript">
         </adapter>
      </factory>
   </extension>
   <extension
         id="LSLForgeNature"
         name="LSLForge Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="lslforge.LSLProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="lslforge.PropertyTester"
            id="lslforge.PropertyTester"
            namespace="lslforge"
            properties="isInLSLProject"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="lslforge.LSLForge"
            name="LSLForge">
      </category>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.LSLForgeProjectWizard"
            finalPerspective="lslforge.LSLForgePerspective"
            icon="icons/newlprj_wiz.gif"
            id="lslforge.LSLForgeProjectWizard"
            name="LSLForge Project"
            preferredPerspectives="lslforge.LSLForgePerspective"
            project="true">
         <description>
            Create a new LSLForge Project.  A LSLForge Project allows you to edit and test LSL code.
         </description>
      </wizard>
      <primaryWizard
            id="lslforge.LSLForgeProjectWizard">
      </primaryWizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewTestWizard"
            icon="icons/obj16/lslforge-test.gif"
            id="lslforge.newTestWizard"
            name="New LSLForge Test"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewModuleWizard"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.module_wizard"
            name="New LSLForge Module"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewScriptWizard"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.script_wizard"
            name="New LSLForge Script"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewSimProjectWizard"
            icon="icons/obj16/lslforge-sim.gif"
            id="lslforge.newSimProjectWizard"
            name="New Sim Project File"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewSimEventHandler"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.newSimEventHandlerWizard"
            name="Sim Event Handler"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.LSLForge"
            class="lslforge.wizards.NewAvEventHandler"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.newAvEventHandlerWizard"
            name="Avatar Event Handler"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.lslforge.examples"
            class="lslforge.wizards.NewHttpRpcSampleWizard"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.HttpRpcExample"
            name="HTTP/RPC Example"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <wizard
            category="lslforge.lslforge.examples"
            class="lslforge.wizards.NewDialogSampleWizard"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.DialogExample"
            name="Dialog Example"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
      <category
            id="lslforge.lslforge.examples"
            name="LSLForge Examples">
      </category>
      <wizard
            category="lslforge.lslforge.examples"
            class="lslforge.wizards.NewHttpRequestSampleWizard"
            icon="icons/obj16/lslforge.gif"
            id="lslforge.HttpRequestExample"
            name="HTTP Request Example"
            preferredPerspectives="lslforge.LSLForgePerspective">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="$nl$/icons/lsl_ovr.gif"
            id="lslforge.natureImage"
            natureId="lslforge.LSLForgeNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="lslforge.decorators.ErrorDecorator"
            id="lslforge.decorators.Error"
            label="Error Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="problem"
         name="LSLForge Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="lslforge.launching.TestLaunchDelegate"
            id="lslforge.testLaunch"
            modes="run, debug"
            name="Run LSL Unit Test">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="lslforge.launching.SimLaunchDelegate"
            id="lslforge.simLaunch"
            modes="run,debug"
            name="Run LSL Simulator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="lslforge.launching.TestLaunchTabGroup"
            id="lslforge.testLaunchTabGroup"
            type="lslforge.testLaunch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="lslforge.launching.SimLaunchTabGroup"
            id="lslforge.simLaunchTabGroup"
            type="lslforge.simLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="lslforge.testLaunch"
            icon="icons/launchlslforge.gif"
            id="lslforge.testLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="lslforge.simLaunch"
            icon="icons/launchlslforge.gif"
            id="lslforge.simLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="lslforge.LSLForgePerspectiveFactory"
            icon="icons/lplus.gif"
            id="lslforge.LSLForgePerspective"
            name="LSLForge Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="lslforge.testview.TestRunnerViewPart"
            icon="icons/lslforgetestrun.gif"
            id="lslforge.TestRunnerView"
            name="TestRunner">
      </view>
      <view
            allowMultiple="false"
            class="lslforge.simview.SimWatcherViewPart"
            icon="icons/launchlslforge.gif"
            id="lslforge.simWatcher"
            name="Sim Watcher">
      </view>
   </extension>
   <extension
         id="lslLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="lslforge.debug.LSLLineBreakpoint"
            id="lslforge.LSLLineBreakpoint"
            markerType="lslforge.lslLineBreakpointMarker">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="lslforge.debug.LSLDebugModelPresentation"
            id="lslforge">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpcontexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="lslforge.preferences.LSLForgePreferencePage"
            id="lslforge.preferences.page1"
            name="LSLForge">
      </page>
      <page
            category="lslforge.preferences.page1"
            class="lslforge.preferences.LSLForgeEditorPreferencePage"
            id="lslforge.preferences.editor_colors"
            name="Editor Appearance">
      </page>
   </extension>

</plugin>
