#Compiled output files
*.class
*.exe
*.hi
*.o

#Eclipse-related files/folders
.metadata

#Update site build output
lslforge/eclipse/update-site/dist/*
lslforge/eclipse/update-site/plugins/*
lslforge/eclipse/update-site/features/*
lslforge/eclipse/update-site/artifacts.*
lslforge/eclipse/update-site/content.*

#Compiled LSLForge executables
lslforge/eclipse/lslforge-linux-x86/os/linux/x86/LSLForge
lslforge/eclipse/lslforge-linux-x86_64/os/linux/x86_64/LSLForge
lslforge/eclipse/lslforge-win32-x86/os/win32/x86/LSLForge.exe
/lslforge/eclipse/lslforge-macosx-x86/os/macosx/x86/LSLForge

#Newfie's ad-hoc build scripts
lslforge/build_*
lslforge/copy_*
/lslforge/rename_files.sh
build
/.project
