# loosely based on stack's appveyor config

clone_folder: "c:\\stack"

environment:
  global:
    STACK_ROOT: "c:\\sr"

cache:
  - "%STACK_ROOT%"
  - "%LOCALAPPDATA%\\Programs\\stack"

build: off

install:
  - ps: cd lslforge/haskell
  - ps: Invoke-WebRequest "https://github.com/commercialhaskell/stack/releases/download/v1.3.2/stack-1.3.2-windows-x86_64.zip" -OutFile stack.zip
  - ps: Invoke-WebRequest "https://github.com/fpco/minghc/blob/master/bin/7z.exe?raw=true" -OutFile 7z.exe
  - ps: Invoke-WebRequest "https://github.com/fpco/minghc/blob/master/bin/7z.dll?raw=true" -OutFile 7z.dll
  - 7z x stack.zip
  - move stack.exe.exe stack.exe

test_script:
  # The ugly echo "" hack is to avoid complaints about 0 being an invalid file
  # descriptor
  - echo "" | stack --no-terminal --install-ghc test
  - echo "" | stack install LSLForge
