<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="LSL Plus Editor"
            icon="icons/obj16/lslplus.gif"
            extensions="lslp,lslm"
            contributorClass="lslplus.editor.LslPlusActionContributor"
            class="lslplus.editor.LslPlusEditor"
            id="lslplus.editor.LslPlusEditor">
      </editor>
      <editor
            class="lslplus.editor.TestEditor"
            extensions="lslt"
            icon="icons/obj16/lslplus-test.gif"
            id="lslplus.editor.LslTestEditor"
            name="LSL Plus Test Editor">
      </editor>
      <editor
            class="lslplus.editor.SimEditor"
            extensions="simp"
            icon="icons/obj16/lslplus-sim.gif"
            id="lslplus.editor.SimEditor"
            name="Lsl Plus Sim Editor">
      </editor>
   </extension>
   
   <extension
         id="LslPlusSetupParticipantName"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="lslp,lslm"
            class="lslplus.editor.LslPlusDocumentSetupParticipant">
      </participant>
   </extension>
   
<!-- =========================================================================== -->
<!-- Template Editor Example                                                     -->
<!-- =========================================================================== -->



   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="lslplus.launching.LaunchLslTestShortcut"
            description="Launches an Lsl Plus Test"
            icon="icons/lslplustestrun.gif"
            id="lslplus.LaunchLslTest"
            label="Launch Lsl Test"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="lslplus.lsltest.LslTestSuite">
                     </adapt>
                  </iterate>
               </with></enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="lslplus.launching.LaunchLslSimShortcut"
            icon="icons/launchlslplus.gif"
            id="lslplus.LaunchLslSim"
            label="Launch In Lsl Sim"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <or>
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <or>
                           <adapt
                                 type="lslplus.LslPlusScript">
                           </adapt>
                           <adapt
                                 type="lslplus.sim.SimProject$WorldNode">
                           </adapt>
                        </or>
                     </iterate>
                  </with>
                  <instanceof
                        value="lslplus.editor.LslPlusEditor">
                  </instanceof>
               </or>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="lslplus.ResourceAdapterFactory">
         <adapter
               type="lslplus.LslPlusElement">
         </adapter>
         <adapter
               type="lslplus.LslDerivedScript">
         </adapter>
         <adapter
               type="lslplus.lsltest.LslTestSuite">
         </adapter>
         <adapter
               type="lslplus.LslPlusScript">
         </adapter>
         <adapter
               type="lslplus.sim.SimProject$WorldNode">
         </adapter>
      </factory>
      <factory
            adaptableType="lslplus.LslPlusElement"
            class="lslplus.LslPlusAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="lslplus.LslPlusScript">
         </adapter>
      </factory>
      <factory
            adaptableType="lslplus.LslDerivedScript"
            class="lslplus.LslDerivedScriptAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslplus.lsltest.LslTestSuite"
            class="lslplus.lsltest.LslTestSuiteAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslplus.LslPlusScript"
            class="lslplus.LslPlusAdapterFactory">
         <adapter
               type="lslplus.LslPlusElement">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="lslplus.sim.SimProject$WorldNode"
            class="lslplus.sim.SimProjectAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.part.FileEditorInput"
            class="lslplus.LslPlusAdapterFactory">
         <adapter
               type="lslplus.LslPlusScript">
         </adapter>
      </factory>
   </extension>
   <extension
         id="lslPlusNature"
         name="LSLPlus Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="lslplus.LslProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="lslplus.PropertyTester"
            id="lslplus.PropertyTester"
            namespace="lslplus"
            properties="isInLslProject"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="lslplus.lslplus"
            name="LSL Plus">
      </category>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.LslPlusProjectWizard"
            finalPerspective="lslplus.LslPlusPerspective"
            icon="icons/newlprj_wiz.gif"
            id="lslplus.LslPlusProjectWizard"
            name="LSL Plus Project"
            preferredPerspectives="lslplus.LslPlusPerspective"
            project="true">
         <description>
            Create a new LSL+ Project.  An LSL+ Project allows you to edit and test LSL code.
         </description>
      </wizard>
      <primaryWizard
            id="lslplus.LslPlusProjectWizard">
      </primaryWizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewTestWizard"
            icon="icons/obj16/lslplus-test.gif"
            id="lslplus.newTestWizard"
            name="New LSL Plus Test"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewModuleWizard"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.module_wizard"
            name="New LSL Plus Module"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewScriptWizard"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.script_wizard"
            name="New LSL Plus Script"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewSimProjectWizard"
            icon="icons/obj16/lslplus-sim.gif"
            id="lslplus.newSimProjectWizard"
            name="New Sim Project File"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewSimEventHandler"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.newSimEventHandlerWizard"
            name="Sim Event Handler"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus"
            class="lslplus.wizards.NewAvEventHandler"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.newAvEventHandlerWizard"
            name="Avatar Event Handler"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus.examples"
            class="lslplus.wizards.NewHttpRpcSampleWizard"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.HttpRpcExample"
            name="HTTP/RPC Example"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <wizard
            category="lslplus.lslplus.examples"
            class="lslplus.wizards.NewDialogSampleWizard"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.DialogExample"
            name="Dialog Example"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
      <category
            id="lslplus.lslplus.examples"
            name="LSL Plus Examples">
      </category>
      <wizard
            category="lslplus.lslplus.examples"
            class="lslplus.wizards.NewHttpRequestSampleWizard"
            icon="icons/obj16/lslplus.gif"
            id="lslplus.HttpRequestExample"
            name="HTTP Request Example"
            preferredPerspectives="lslplus.LslPlusPerspective">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="$nl$/icons/lsl_ovr.gif"
            id="lslplus.natureImage"
            natureId="lslplus.lslPlusNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="lslplus.decorators.ErrorDecorator"
            id="lslplus.decorators.Error"
            label="Error Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="problem"
         name="LSL Plus Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="lslplus.launching.TestLaunchDelegate"
            id="lslplus.testLaunch"
            modes="run, debug"
            name="Run LSL Unit Test">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="lslplus.launching.SimLaunchDelegate"
            id="lslplus.simLaunch"
            modes="run,debug"
            name="Run LSL Simulator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="lslplus.launching.TestLaunchTabGroup"
            id="lslplus.testLaunchTabGroup"
            type="lslplus.testLaunch">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="lslplus.launching.SimLaunchTabGroup"
            id="lslplus.simLaunchTabGroup"
            type="lslplus.simLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="lslplus.testLaunch"
            icon="icons/launchlslplus.gif"
            id="lslplus.testLaunchImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="lslplus.simLaunch"
            icon="icons/launchlslplus.gif"
            id="lslplus.simLaunchImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="lslplus.LslPlusPerspectiveFactory"
            icon="icons/lplus.gif"
            id="lslplus.LslPlusPerspective"
            name="LSL Plus Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="lslplus.testview.TestRunnerViewPart"
            icon="icons/lslplustestrun.gif"
            id="lslplus.TestRunnerView"
            name="TestRunner">
      </view>
      <view
            allowMultiple="false"
            class="lslplus.simview.SimWatcherViewPart"
            icon="icons/launchlslplus.gif"
            id="lslplus.simWatcher"
            name="Sim Watcher">
      </view>
   </extension>
   <extension
         id="lslLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="lslplus.debug.LslLineBreakpoint"
            id="lslplus.LslLineBreakpoint"
            markerType="lslplus.lslLineBreakpointMarker">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="lslplus.debug.LslDebugModelPresentation"
            id="lslplus">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpcontexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="lslplus.preferences.LslPlusPreferencePage"
            id="lslplus.preferences.page1"
            name="LSL Plus">
      </page>
      <page
            category="lslplus.preferences.page1"
            class="lslplus.preferences.LslPlusEditorPreferencePage"
            id="lslplus.preferences.editor_colors"
            name="Editor Appearance">
      </page>
   </extension>

</plugin>
